html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#searchBar{
    padding: 6px;
    padding-top: 3px;
    border: 2px solid black;
    /* border-radius: 5px; */
    width: 300px;
}

#section img, #movieOutput img{
    height: 400px;
    width: 350px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
}

#movieOutput{
    width: 100%;
    margin: 10px;
    justify-content: center;
}

#topRatedOutput, #upcomingMovieOutput{
    margin-top: 60px;
}

#output{
    margin-top: 10px;
}

#nextPage{
    align-items: center;
    text-align: center;
}

.modal{
    /* padding: 10px 15px; */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    border-radius: 10px;
    z-index: 10;
    background-color: darkgrey;
    width: 700px;
    height: 700px;
    max-width: 90%;
    max-height: 90%;
}
@media screen and (max-width: 768px){
    .modal{
        height: 600px;
    }
}

@media screen and (max-width: 600px){
    .modal{
        height: 480px;
    }
}

.modal-header{
align-items: center;
display: flex;
justify-content: space-between;
}

.modal-header #trailerTitle{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-content{
    height: 400px;
    align-items: center;
}

.iframeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 90%; 
  }

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  #overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#viewMore{
    position: absolute;
    float: right;
    margin-top: 20px;
}

#section{
    padding-top: 200px;
    text-align: center;
    background-color: #ddd;
    height: 500px;
}

#searchBar{
    margin: 30px;
}

#previous, #next{
    margin-bottom: 10px;
}

#section1{
    margin-top: 50px;
    display:block;
    text-align: center;
    background-color: #ddd;
}

.film-image:hover{
    opacity: 0.7; 
    padding: 5px;
}

.image{
    position: relative;
}

.background{
    margin-top: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("");
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#movieProfile{
    color: white;
    padding-top: 40px;
    position: relative;
}

#movieProfile h5{
    color: lightgrey;
}

#movieProfile img{
    height: 80%;
    width: 100%;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.overview{
    position: absolute;
    bottom: 60px;
}

.movie-info{
    padding-left: 30px;
    margin-top: 30px;
}

.trailer-button{
    border:none;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    margin-left: 10px;
}

.movie-poster{
    padding-left: 40px;
}

.movie-icons{
    padding-bottom: 20px;
}

.movie-icons a{
    color: white;
}

.movie-icons i{
    padding-right: 5px;
}

.overview p{
    font-size: 12px;
}

@media screen and (max-width: 600px){
    .movie-info{
        margin-top: 10px;
    }
    .movie-icons{
        padding-top: 10px;
    }
    .trailer-button{
        margin-top: 5px;
    }
    .overview{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .overview{
        bottom: -40px;
    }
    /* .overview p{
        font-size: 12px;
    } */
    .trailer-button{
        margin-top: 10px;
    }
    .overview{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .overview{
        bottom: 20px;
    }
    /* .tagline{
        display: none;
    } */
}

@media screen and (min-width: 1200px){
    .overview p{
        font-size: 14px;
    }
    .trailer-button{
        margin-top: 20px;
    }
    .overview{
        bottom: 100px;
    }
}

.rating-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 50%;
    margin-right: 10px;
    cursor:none;
  }

.card{
    margin: 10px; 
    float: none; 
    margin-bottom: 40px;
    width: 180px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    text-align: center;
    border-image: none;
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 20px; */
    height: 200px;
    width: 100%;
}

.card p{
    padding-top: 5px;
}

.actors{
    margin-top: 40px;
}

.card-wrapper{
    margin-top: 30px;
}

.scroll-menu{
    overflow: auto;
    white-space: nowrap;
}

.scroll-menu li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  
  .similar-movies, .actors{
    text-align: center;
    margin-bottom: 30px;
  }

  .similar-movies-rating {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 50%;
    cursor:none;
  }

  .bold{
      font-weight: bold;
  }
